    .icone{
      font-size: 15px;

      margin-left: auto;
    }
    .icona-sbinottogames{
      width: 60px;
      height: 60px;
      margin-right: 5px;
    }



    .navbar-brand{
      font-family: 'Rubik Iso', cursive;
      width: 55%;
      font-size: 50px;
      text-align: justify;

      justify-content: end;


    }


    .nav-secondaria .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #db4109e1;
      margin-right: -10px;
      margin-left: -10px;


    }


    .nav-secondaria {

      margin-left: -25px;


    }

    .nav-secondaria .nav-link {
      color: #000;
      font-size: 1.25em;
    }


    li.nav-item {
      margin-bottom: 10px;
      margin-top: 10px;
    }

  //   li.nav-item.user {
  //     margin-left: 70px;
  //     border: 1px solid white;
  //     border-radius: 8px;
  //     padding: 0px 20px;
  // }

  li.nav-item.user {
    margin-left: 11px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0px 20px;

  }
  .nav-link {
  display: inline-block;
}

span.name {
  color: white;
}



    @media only screen and (min-width: 0px) and (max-width: 480px) {

      .navbar-brand {
        width: 80%;
        font-size: 30px;
        text-align: center;
      }
      .navbar-brand .icona-sbinottogames {
        width: 30px;
        height: 30px;
      }

    }


    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .navbar-brand {
        width: 50%;
        text-align: center;
      }

      .navbar-brand .icona-sbinottogames {
        width: 60px;
        height: 60px;
      }

      .navbar-nav {
        width: 100%;
      }

      .nav-item {
        width: 100%;
        text-align: center;
      }
    }
