    .icone{
      font-size: 15px;

      margin-left: auto;
    }
    .icona-sbinottogames{
      width: 60px;
      height: 60px;
      margin-right: 5px;
    }



    .navbar-brand{
      font-family: 'Rubik Iso', cursive;
      width: 55%;
      font-size: 50px;
      text-align: justify;

      justify-content: end;


    }


    .nav-secondaria .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #db4109e1;
      margin-right: -10px;
      margin-left: -10px;


    }


    .nav-secondaria {

      margin-left: -25px;


    }

    .nav-secondaria .nav-link {
      color: #000;
      font-size: 1.25em;
    }






    li.nav-item {
      margin-bottom: 10px;
      margin-top: 10px;
    }

