.mat-icon{
  height: 20px;
  width: 20px;
  font-size: 21px;
  padding-top: 2px;
  margin-right: 7px;
}

.icona-sbinottogames{
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

// .nav-link{
//   display: flex-end;
//   justify-content: flex-end;

// }

.navbar-brand{
  font-family: 'Rubik Iso', cursive;
  width: 55%;
  font-size: 50px;
  text-align: justify;
 // margin:0 auto;
justify-content: end;


}

// .navbar-primaria{
//   font-family: 'Rubik Iso', cursive;
//   width: 55%;
//   font-size: 50px;
//   justify-content: end;
//   margin:0 auto;
// }

.nav-secondaria .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #db4109e1;
  margin-right: -10px;
  margin-left: -10px;


}

.nav-secondaria {
  // margin-left: 0;
  margin-left: -25px;


}

.nav-secondaria .nav-link {
  color: #000;
  font-size: 1.25em;
}

.icone{
justify-content: center;


.nav-item{
  margin-right: 10px;
  justify-content: center;
}

}

li.nav-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

