@import "../../../styles/colors.scss";
.container-titolo{
  h2{
    font-size: 35px;
    color: $primary-color-1!important;
    font-family: 'Orbitron', sans-serif, strong;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .paragrafo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #000;
    text-align: justify;
    background-color: #6d1f1f;
    font-family: 'Roboto Serif', serif;
    padding: 20px;
  }
}

div#ultimiGiochi{
  margin-top: 50px;
  text-align: center;

}

div#giochiInTendenza{

  margin-top: 50px;
  text-align: center;
}

// #bottom-container {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: auto;
//   background-color: #f2f2f2;
//   padding: 10px;
// }

.paginator-container {
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

div#container-utente {
  background: #000000b0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 10;

  div#dati-utente {
    background: white;
    width: 60%;
    height: 250px;
    border: 5px solid $primary-color-1;
    border-radius: 30px;
    padding: 16px;

    h2 {
      font-size: 23px!important;
      text-align: center;
    }

    ul {
      height: 90px;
      margin-top: 33px;
      font-size: 18px;
      li {
        line-height: 40px;
      }
    }

    button.btn.btn-primary.btn-lg {
      width: 50%;
      margin-left: 25%;
      background-color: $primary-color-1;
    }
  }
}


