<app-carousel></app-carousel>

<div id="main-container">
  <div class="container-titolo">
    <h2>Benvenuti su SbinottoGames</h2>
    <p class="paragrafo">Siamo un team di appassionati di videogiochi, pronti a offrirvi le ultime novità del mondo dei videogiochi. Sul nostro sito troverete una vasta gamma di giochi, dalle ultime uscite ai classici senza tempo, passando per i giochi indipendenti di qualità. Offriamo un'esperienza di navigazione semplice e intuitiva, con un'interfaccia utente amichevole che vi permetterà di trovare il gioco che fa per voi in pochi clic. Potrete trovare giochi per tutte le piattaforme, dai più recenti titoli per console alle ultime novità per PC e mobile. Siamo sempre aggiornati sulle ultime tendenze nel mondo dei videogiochi, e ci teniamo ad offrirvi recensioni accurate e dettagliate dei giochi più popolari del momento. Inoltre, siamo sempre disponibili per rispondere alle vostre domande e offrire supporto tecnico in caso di problemi. Unisciti a noi su SbinottoGames e vivi un'esperienza di gioco senza eguali!</p>
  </div>
</div>
<app-giochi></app-giochi>

<!-- <div id="promo-container">
    <h2>Non perderti i nostri Sconti!!</h2>
  <div >
     <a href="#" class="promo-images"><img src="../../../assets/images/f1-22.jpg" alt="sconto 1"> <span class="promo-text">Scontato del 15%  </span></a>
     <a href="#" class="promo-images"><img src="../../../assets/images/resident-evil-4.jpg" alt="sconto 2"><span class="promo-text">Scontato del 20%</span></a>
     <a href="#" class="promo-images"><img src="../../../assets/images/the-last-of-us-part-i-.jpg" alt="sconto 3"><span class="promo-text">Scontato del 70%</span></a>
     <a href="#" class="promo-images"><img src="../../../assets/images/f1-manager-2022.jpg" alt="sconto 4"><span class="promo-text">Scontato del 30%</span></a>
     <a href="#" class="promo-images"><img src="../../../assets/images/hogwarts-legacy.jpg" alt="sconto 5"><span class="promo-text">Scontato del 15%</span></a>
     <a href="#" class="promo-images"><img src="../../../assets/images/cities-skylines.jpg" alt="sconto 6"><span class="promo-text">Scontato del 10%</span></a>
  </div>
</div>


<hr> -->
<!-- <div id="main-container">
  <div class="container-titolo">
    <p class="paragrafo">"Non perderti l'ultima tendenza in fatto di giochi! Entra nella nostra sezione dedicata ai giochi in tendenza su SbinottoGames e scopri i titoli più popolari del momento. Che tu sia un fan dei giochi d'azione, degli strategici o dei giochi di ruolo, troverai sicuramente qualcosa di interessante. Non aspettare, unisciti alla community di SbinottoGames e scopri i giochi che tutti stanno giocando!"</p>
  </div>
</div> -->
<!--
<div class="grid-container">
  <div class="grid-item title " style="grid-column: 1/4">
    <h1>Giochi Di Tendenza</h1>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/marvel-s-spider-manr.jpg" alt="Immagine 1"></a>
    <h2>Spider-man Miles Morales</h2>
    <p>£ 25.00</p>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/wwe-2k23.jpg" alt="Immagine 1"></a>
    <h2>wwe-2k23</h2>
    <p>£ 44.99</p>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/football-manager-2023.jpg" alt="Immagine 1"></a>
    <h2>football-manager-2023</h2>
    <p>£ 34.06</p>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/far-cry-6.jpg" alt="Immagine 1"></a>
    <h2>Far-cry-6</h2>
    <p>£ 42.29</p>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/anno-1800.jpg" alt="Immagine 1"></a>
    <h2>Anno 1800</h2>
    <p>£ 16.20</p>
  </div>
  <div class="grid-item">
    <a href="#" class=""><img src="../../../assets/images/assassin-s-creed-valhalla.jpg" alt="Immagine 1"></a>
    <h2>assassin-s-creed-valhalla</h2>
    <p>£ 15.17</p>
  </div>
</div> -->








