<app-carousel></app-carousel>

<div id="main-container">
  <div class="container-titolo">
    <h2>Benvenuti su SbinottoGames</h2>
    <p class="paragrafo">Siamo un team di appassionati di videogiochi, pronti a offrirvi le ultime novità del mondo dei videogiochi. Sul nostro sito troverete una vasta gamma di giochi, dalle ultime uscite ai classici senza tempo, passando per i giochi indipendenti di qualità. Offriamo un'esperienza di navigazione semplice e intuitiva, con un'interfaccia utente amichevole che vi permetterà di trovare il gioco che fa per voi in pochi clic. Potrete trovare giochi per tutte le piattaforme, dai più recenti titoli per console alle ultime novità per PC e mobile. Siamo sempre aggiornati sulle ultime tendenze nel mondo dei videogiochi, e ci teniamo ad offrirvi recensioni accurate e dettagliate dei giochi più popolari del momento. Inoltre, siamo sempre disponibili per rispondere alle vostre domande e offrire supporto tecnico in caso di problemi. Unisciti a noi su SbinottoGames e vivi un'esperienza di gioco senza eguali!</p>

    <div id="ultimiGiochi">
      <h2>Gli ultimi Giochi</h2>
      <app-gioco-card [pag]="'home'" ></app-gioco-card>
    </div>
  </div>
</div>

<ng-template [ngIf]="nome">
  <div id="container-utente">
    <div id="dati-utente">
      <h2>Grazie {{nome}} per esserti registrato, ecco i tuoi dati:</h2>
      <ul>
        <li>Nome: {{nome}}</li>
        <li>Email: {{email}}</li>
      </ul>
        <button class="btn btn-primary btn-lg" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>










