<div class="main-container">
  <h2>Ecco i tuoi dati:</h2>
  <ul>
    <li>Nome: <span class="dettaglio">{{user.nome}}</span></li>
    <li>Cognome:  <span class="dettaglio">{{user.cognome}}</span></li>
    <li>NickName:  <span class="dettaglio">{{user.nickName}}</span> </li>
    <li>Email:  <span class="dettaglio">{{user.email}}</span></li>
    <li>Piattaforma: <span class="dettaglio">{{user.piattaforma}}</span> </li>
    <li>Ruolo: <span class="dettaglio">{{user.role}}</span> </li>
    <li>Note Aggiuntive: <span class="dettaglio">{{user.note ? user.note : 'nessuna nota'}}</span> </li>
    <li>Data di iscrizione: <span class="dettaglio">{{data}}</span> </li>
    <li>Ultima Modifica dei dati:<span class="dettaglio">{{aggiornamento}}</span> </li>
  </ul>
</div>
