<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../assets/images/icona-sbinottogames.png" class="icona-sbinottogames">
      <a class="navbar-brand" href="#">sbinottogames</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><mat-icon>home</mat-icon>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>bookshelf</mat-icon>Libreria</a>
            </li>
             <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>account_circle</mat-icon>Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>About</mat-icon>Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-carousel></app-carousel>

<div id="main-container">
  <div class="container-titolo">
    <h2>Benvenuti su SbinottoGames</h2>
    <p class="paragrafo">Siamo un team di appassionati di videogiochi, pronti a offrirvi le ultime novità del mondo dei videogiochi. Sul nostro sito troverete una vasta gamma di giochi, dalle ultime uscite ai classici senza tempo, passando per i giochi indipendenti di qualità. Offriamo un'esperienza di navigazione semplice e intuitiva, con un'interfaccia utente amichevole che vi permetterà di trovare il gioco che fa per voi in pochi clic. Potrete trovare giochi per tutte le piattaforme, dai più recenti titoli per console alle ultime novità per PC e mobile. Siamo sempre aggiornati sulle ultime tendenze nel mondo dei videogiochi, e ci teniamo ad offrirvi recensioni accurate e dettagliate dei giochi più popolari del momento. Inoltre, siamo sempre disponibili per rispondere alle vostre domande e offrire supporto tecnico in caso di problemi. Unisciti a noi su SbinottoGames e vivi un'esperienza di gioco senza eguali!</p>
  </div>
</div>

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <img src="../assets/images/icona-sbinottogames.png" class="icona-sbinottogames-footer">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2022</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
