<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../assets/images/icona-sbinottogames.png" class="icona-sbinottogames">
      <a class="navbar-brand" href="#">sbinottogames</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><mat-icon>home</mat-icon>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>archive</mat-icon>Archivio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>contacts</mat-icon>Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="main-container">
  <div class="container-titolo">
    <h2>App di esempio in Angular</h2>
    <p class="paragrafo">Ecco un testo dentro al paragrafo</p>
  </div>
</div>

<router-outlet></router-outlet>
