@import"../../../styles/colors.scss";
.titolo{
  font-size: 18px;
  font-family: 'Orbitron', sans-serif, cursive;
  color: $primary-color-1;
}
p.help.is-danger{
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid rgb(7, 216, 7);
}

.check{
  height: 50px;
  width: 70%;
  flex-direction: column;
  margin-top: 4px;
}

.btn{
  background-color: #db4109e1 !important;
  border: none !important;
  color: white;
 border-radius: 25px;

}

// h6.mb-0.me-4 {
//   font-size: 20px;
// }

h6.mb-0.me-4 {
  font-size: 20px;
  margin-top: 20px;
}

.form-label {
  margin-bottom: 0.5rem;
  margin-top: 20px;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 25px;
}


label.form-check-label {
  margin-top: 25px;
}

.img-fluid {
  max-width: 105%;
  height: auto;
}






