@import"../../../styles/colors.scss";
.titolo{
  font-size: 20px;
  font-family: "Orbitron", sans-serif, strong;
  color: $primary-color-1;
  margin-left: 91px;
  margin-bottom: 10px;
}
p.help.is-danger{
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid rgb(7, 216, 7);
}

.check{
  height: 50px;
  width: 70%;
  flex-direction: column;
  margin-top: 4px;
}

.btn{
  background-color: #db4109e1 !important;
  border: none !important;
  color: white;
  border-radius: 25px;
  width: 150px;
  font-size: 23px;

}

// h6.mb-0.me-4 {
  //   font-size: 20px;
  // }

  h6.mb-0.me-4 {
    font-size: 20px;
    margin-top: 20px;
  }

  .form-label {
    margin-bottom: 0.5rem;
    margin-top: 20px;
  }

  .form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    margin-top: 25px;
  }


  label.form-check-label {
    margin-top: 25px;
  }

  .img-fluid {
    max-width: 105%;
    //height: auto;
    height: 100%;
  }


  label.form-label {
    font-weight: bold;
  }


  .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: 1.5;
  }

  .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    background-color:#db4109e1;
}

.termini {
  font: 400 23px/28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 1px;
  color: white!important;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  background-color: #db4109e1;
}

.modal-footer {

  .btn-modal {
    background-color: #db4109e1;
    color: white;
    font-weight: 700;
    border: 2px solid #db4109e1;
    margin-left: 0.5rem;
  }
}

a.terminiS {
  color: red;
}



