@import "../../../styles/colors.scss";

h2{
  font-size: 35px;
  color: $primary-color-1!important;
  font-family: 'Orbitron', sans-serif, strong;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

