@import "../../../styles/colors.scss";

.card-container{
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card{
    border-radius: 10px !important;
    min-height: 500px;
  }

  .card-image{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0 !important;
  }

  .card-body{
    text-align: center;
    .card-title{
      font-weight: 900;
      font-size: 20px;
      color:  $primary-color-1!important;
      margin: 2px;
    }

    .card-text{
      text-align: justify;
      margin: 0 0 30px;
    }

    a.btn.btn-primary {
      background-color: $primary-color-1!important;
      border: none;
      margin: auto;
      padding: 8px 35px;
  }

  }
}
