@import "../../../styles/colors.scss";

.card-container{
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card{
    border-radius: 10px !important;
    //min-height: 500px;
    height: 465px!important;
  }

  .card-image{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0 !important;
  }

  .card-body{
    text-align: center;
    .card-title{
      font-weight: 900;
      font-size: 20px;
      color:  $primary-color-1!important;
      margin: 3px;
      height: 50px;
    }

    .card-text{
      text-align: justify;
      margin: 0 0 30px;
      height: 146px!important;
    }

    a.btn.btn-primary {
      background-color: $primary-color-1!important;
      border: none;
      margin: auto;
      padding: 8px 35px;
  }

  }
}

.ccc{
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .card-container{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-container{
    width: 45.5%;
    margin-left: 3%;
    margin-bottom: 20px;
 }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card-container{
    width: 45.5%;
    margin-left: 3%;
    margin-bottom: 20px;
 }
}


// Caricamento

.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

