<div class="container-cards">
  <div class="container-pagination" *ngIf="pag !='home'">
    <div class="ccc">
      <strong>{{giochiPerPagina}}</strong> Giochi su un totale di <strong>{{giochiTotali}}</strong> giochi, pagina corrente: <strong>{{page}}</strong>
    </div>
    <p-paginator (onPageChange)="paginate($event)" [rows]="giochiPerPagina" [totalRecords]="giochiTotali" (rowsPerPageOptionsChange)="giochiPerPagina"></p-paginator>
  </div>

  <div class="card-container" *ngFor="let gioco of giochi | slice: (page * giochiPerPagina) - giochiPerPagina : page * giochiPerPagina">
    <div class="card">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' +gioco.imaggine +')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{gioco.titolo}}</h5>
        <p class="card-text">
          {{gioco.descrizione | slice: 0:250}}...
         </p>

         <a  class="btn btn-primary" routerLink="dettaglio/{{gioco.titolo}}/{{gioco._id}}" *ngIf="!pag">Visualizza</a>
        <a  class="btn btn-primary" routerLink="/giochi/dettaglio/{{gioco.titolo}}/{{gioco._id}}" *ngIf="pag">Dettagli</a>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template [ngIf]="loading">
  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>
  </div>

</ng-template> -->


<ng-template [ngIf]="loading">

  <div class="loader">
    <svg viewBox="0 0 80 80">
        <circle id="test" cx="40" cy="40" r="32"></circle>
    </svg>
</div>

<div class="loader triangle">
    <svg viewBox="0 0 86 80">
        <polygon points="43 8 79 72 7 72"></polygon>
    </svg>
</div>

<div class="loader">
    <svg viewBox="0 0 80 80">
        <rect x="8" y="8" width="64" height="64"></rect>
    </svg>
</div>

</ng-template>
