/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.css";
@import"./styles/colors.scss";
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.bg-red, header{
  background-color: #070707!important;
}

nav{
  margin-left: 10px;
}

#main-container{
  padding: 16px;
}
html, body { height: 100%; }



.carousel-caption {
  top: 27rem;
  bottom: auto;

  h3{
    font-family: 'Rubik Iso', cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
    height: 50px;

  }
}

.icona-sbinottogames-footer {
  width: 100px;
  height: 100px;
}


// .p.password, .p-inputtext{
  //   width: 100%!important;
  //   float: right;
  //   border-radius: 3rem!important;
  // }

  .p-password, .p-inputtext {
    width: 100%!important;
    float: right;
    border-radius: 0.5rem!important;
    margin-bottom: 30px;
  }

  p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
    border: 2px solid red;
  }
  p-password.ng-invalid.ng-touched > .p-password > .p-inputtext {
    border: 2px solid red;
  }

  p-password.ng-valid.ng-dirty > .p-password > .p-inputtext {
    border: 2px solid green;
  }

  p-password.ng-valid.ng-touched > .p-password > .p-inputtext {
    border: 2px solid green;
  }

  .p-button-danger {
    background-color:  #6d1f1f!important;
    color: white;
    border-radius: 10px!important;
    width: 130px;
    font-size: 25px!important;
  }
  .p-button-success {
    background-color: $primary-color-1!important;
    color: white;
    border-radius: 10px!important;
    width: 150px;
    font-size: 25px!important;
  }
  .p-button-warning {
    background-color: #db4109e1!important;
    color: white!important;
    border-radius: 10px!important;
    width: 130px;
    font-size: 25px!important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #db4109e1!important;
    border-color: #db4109e1!important;
    color: white!important;
    font-size: 20px;
  }
  .p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #db4109e1!important;
  }

  .descrizione-gioco .ck-editor__editable {
    min-height: 190px!important;
    max-height: 190px!important;
    max-width: 440px!important;
  }

  .descrizione-gioco .ck-sticky-panel__content{
    max-width: 395px!important;
  }

  .descrizione-note .ck-editor__editable {
    min-height: 200px!important;
    max-height: 50px!important;
    max-width: 380px!important;

  }

  .descrizione-note .ck-sticky-panel__content{
    max-width: 390px!important;
    margin-left: 50px;
  }

  .p-image-preview-container>img {
    cursor: pointer;
    width: 600px;
    height: 400px;
  }

  @media only screen and (min-width: 0px) and (max-width: 480px) {
    .p-image-preview-container>img {
      width: 436px;
      height: 348px;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .p-image-preview-container>img {
      width: 700px;
      height: 400px;
    }
  }
  /* Importing Bootstrap SCSS file. */
  @import 'bootstrap/scss/bootstrap';
