/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.css";
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.bg-red, header{
  background-color: #070707!important;
}

nav{
  margin-left: 10px;
}

#main-container{
  padding: 16px;
}
html, body { height: 100%; }



.carousel-caption {
  top: 27rem;
  bottom: auto;

  h3{
    font-family: 'Rubik Iso', cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
    height: 50px;

  }
}

.icona-sbinottogames-footer {
  width: 60px;
}


// .p.password, .p-inputtext{
//   width: 100%!important;
//   float: right;
//   border-radius: 3rem!important;
// }

.p-password, .p-inputtext {
  width: 100%!important;
  float: right;
  border-radius: 0.5rem!important;
  margin-bottom: 30px;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
