<div class="container container-footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted riga">© 2022 SbinottoGames, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../assets/images/icona-sbinottogames.png" class="icona-sbinottogames-footer">
    </a>

    <ul class="nav col-md-4 justify-content-end" >
      <li class="nav-item"><a href="#" class="nav-link riga px-2 text-muted"><mat-icon>home</mat-icon>Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link riga px-2 text-muted"><mat-icon>bookshelf</mat-icon>Libreria</a></li>
      <li class="nav-item"><a href="#" class="nav-link riga px-2 text-muted"><mat-icon>account_circle</mat-icon>Account</a></li>
      <li class="nav-item"><a href="#" class="nav-link riga px-2 text-muted"><mat-icon>About</mat-icon>Info</a></li>
    </ul>
  </footer>
</div>
