.container-footer{
  background-color: #070707!important;
    //margin-top: 10px;
    color: white !important;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    // height: 200px
}

h6 {
  font-family: 'Rubik Iso', cursive!important;
  font-size: 15px;
}
// .py-3 {
//   padding-top: 2px !important;
//   padding-bottom: 2px !important;
// }

// .container-xl, .container-lg, .container-md, .container-sm, .container {
//   max-width: 100%;
// }


