.container-footer{
  background-color: #070707!important;
    //margin-top: 10px;
    color: white !important;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    // height: 200px
}

h6 {
  font-family: 'Rubik Iso', cursive!important;
  font-size: 15px;
}
// .py-3 {
//   padding-top: 2px !important;
//   padding-bottom: 2px !important;
// }

// .container-xl, .container-lg, .container-md, .container-sm, .container {
//   max-width: 100%;
// }

@media only screen and (min-width: 0px) and (max-width: 480px) {

  .container-footer{
    width: auto;
    margin-top: 10px;
    padding: 16px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container-footer {
    padding: 10px;
    height: auto;
    width: 90%; // Riduce la larghezza del footer per adattarsi al tablet orizzontale
    margin-top: 20px; // Aumenta la margin-top per distanziare il footer dagli altri elementi del layout
    }
    }

